---
layout: default
---

<br>

<a data-fancybox id="fancy" data-type="iframe" data-src="https://www.youtube.com/embed/videoseries?list=PLIjPQnRzAKVHABG1-oTvwWc3Gj1Z4C91B" frameborder="0" allow="autoplay; encrypted-media"  href="javascript:;"></a>

<table>
<tr>
	<td><p align="left" class="right" style="margin-right: 12px; font-size:20px">
	<b>The Lan.d.s project explores the applications of MOGs</b> through: 
	A DSL for <b>compile-time meta-programming (<a href="{{site.baseurl}}/Gray#ASL">ASL</a>)</b>. New ways for <b>composing and re-using grammars and parsers (<a href="{{site.baseurl}}/GrammarTraits/">GrammarTraits</a>)</b>. 
	Syntax annotations for <b>describing DSL state and validation (<a href="{{site.baseurl}}/MOODs/">MOODs</a>)</b>. As well as <b>an experimental 
	programming language (<a href="{{site.baseurl}}/Lise/">Lise</a>)</b> that examplifies <b>multi-paradigm language design 
	(functional, OO and procedural)</b>.
	</p></td>
	<td><table>
	<tr><td><!--style="background-color:#f96854;"-->
	<a href="https://www.patreon.com/bePatron?u=14738200" data-patreon-widget-type="become-patron-button"><img width="320px" height="42px" src="images/support_patreon.png"></a>
<!--<script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>-->
</td></tr>
<tr><td>


<!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CTYLDP9XUKCBS">
<table>
<tr><td><input type="hidden" name="on0" value="Subscribe for 6 months to get"><b>or subscribe for 6 months on PayPal for:</b></td></tr><tr><td><select name="os0">
	<option value="Ebook">Ebook : €5,00 EUR - monthly</option>
	<option value="Printed Book">Printed Book : €10,00 EUR - monthly</option>
	<option value="Institutional">Institutional : €100,00 EUR - monthly</option>
	<option value="Consultancy">Consultancy : €1 000,00 EUR - monthly</option>
	<option value="Sponsorship">Sponsorship : €2 000,00 EUR - monthly</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="EUR">
<input type="image" src="images/support_paypal.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="margin-top: 10px" width="320px">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>-->

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CTYLDP9XUKCBS">
<table>
<tr><td><input type="hidden" name="on0" value="Crowd-Fund Book, for 6 months to get:"><b>or subscribe for 6 months on PayPal for:</b></td></tr><tr><td>
<div class="custom-select" style="width:320px;">
<select name="os0">
	<option value="Ebook">Ebook : €5,00 EUR - monthly</option>
	<option value="Printed Book">Printed Book : €10,00 EUR - monthly</option>
	<option value="Institutional">Institutional : €100,00 EUR - monthly</option>
	<option value="Consultancy">Consultancy : €1 000,00 EUR - monthly</option>
	<option value="Sponsorship">Sponsorship : €2 000,00 EUR - monthly</option>
</select></div></td></tr>
</table>
<input type="hidden" name="currency_code" value="EUR">
<input type="image" src="images/support_paypal.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="margin-top: 10px" width="320px" height="60px">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
<a class="center" href="Support" style="margin-top: -30px; font-size: 20px;margin-bottom: -15px;">Support Info & Details</a>
</form>
</td>
</tr>
</table>
</td>


</tr>
</table>

<div class="home">
 
  
    <div class="row pack">

        {% for post in paginator.posts %}   
            <div class="col-md-4 card">
             <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">    
                <div class="panel panel-default">
                  
                  {% if post.img %}
                  <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
                  {% else %}
                  <img width="100%" src="{{site.baseurl}}/images/webjeda-logo-big.jpg" alt="{{site.title}}">
                  {% endif %}
                  
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
                  </div>
                  
                  <div class="panel-body"><small>
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</small>
                  </div>
                </div>
                </a>
            </div>
        
          {% endfor %}

    </div> 
    
<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
          {% else %}
            <li><span>&laquo; Prev</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
          {% else %}
            <li><span >Next &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>

</div>
</div>
