<header class="site-header">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
<!--	<li><a href="{{site.baseurl}}/sources/">Sources</a></li>-->
	<li><a href="{{site.baseurl}}/Support/">Support Lan.d.s !</a></li>
	<li><a href="{{site.baseurl}}/Book/">Lands-Book</a></li>
	 <li><a href="{{site.baseurl}}/Lectures/">Lectures</a></li>
        <!--<li><a href="{{site.baseurl}}/about/">About</a></li>-->
        <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{site.baseurl}}/download/">Lands-Experiments</a></li>
<!--            <li><a href="">Sources</a></li>-->
            <li role="separator" class="divider"></li>
            <li><a target="_blank" href="https://gitlab.com/npapoylias/lands">Source-Code</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse --> 
  </div><!-- /.container-fluid -->
</nav>
<p class="center" align="justify">
<b><a href="{{site.baseurl}}/Multi-Ordered-Grammars-Gray-Algorithm-Papoulias-PeerJ-PrePrint.pdf">Multi-Ordered Grammars</a> (or simply MOGs)</b> are an <b>alternative
to the <a href="https://www.sciencedirect.com/science/article/pii/S0019995859903626">CFG</a> and <a href="http://bford.info/pub/lang/peg.pdf">PEG</a> formalisms</b> (the latter two introduced by <a href="https://linguistics.arizona.edu/user/noam-chomsky">Chomsky</a> and <a href="http://www.brynosaurus.com/">Ford</a> respectively). MOGs aim 
for <b>a better exploration of ambiguity, ordering, recursion and associativity</b>
during language design. The formalism is <b>accompanied by a new parsing algorithm (<a href="{{site.baseurl}}/Gray/">Gray</a>) that extends chart parsing</b>
(normally <a href="https://web.stanford.edu/~jurafsky/slp3/">used for NLP</a>) with new operations for <b>recursive and scoped ordering</b>.
</p>
<p class="center" align="justify">
A detailed description of MOGs and Gray can be found in: <a href={{site.baseurl}}/Multi-Ordered-Grammars-Gray-Algorithm-Papoulias-PeerJ-PrePrint.pdf><b>N. Papoulias</b>. <i>Parsing Multi-Ordered Grammars with the Gray Algorithms</i>. <b>PeerJ, Preprints 2019.</b></a> Watch a live Lan.d.s Presentation at <a href=https://youtu.be/HMgJK8mVPYw><b>SLE / SPLASH 2019:</b> https://youtu.be/HMgJK8mVPYw</a>, or read the paper at: <a href=https://dl.acm.org/citation.cfm?id=3359547>dl.acm.org/citation.cfm?id=3359547</a>
</p>
<!--<small><p class="center" align="justify">
An older/short motivational paper on MOGs: <a href={{site.baseurl}}/For-And-Against-PEGs-2018-Short-PeerJ.pdf><b>N. Papoulias</b>. <i>For and Against PEGs: Why we need Multi-Ordered
Grammars</i>. <b>PeerJ, Preprints 2018</b></a></p></small>-->

<img src="{{site.baseurl}}/images/logo-lands.png" alt="Lands Logo" class="center">


</header>
